<!DOCTYPE html>
<html lang="en" class="loading" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Ottimizza - Gerenciamento de Conta.">
  <meta name="keywords" content="ottimizza,ottimizza gerenciamento de conta,gerenciamento de conta,ottimizza conta,">
  <meta name="author" content="Ottimizza">
  <title>Empresas - Ottimizza Gerenciamento de Conta</title>
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/ico/apple-icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/ico/apple-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/ico/apple-icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/ico/apple-icon-152.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/ico/favicon.ico">
  <link rel="shortcut icon" type="image/png" href="assets/img/ico/favicon-32.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900"
    rel="stylesheet">

  <!-- Styles Vendors -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/css/perfect-scrollbar.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/css/prism.min.css}">

  <!-- Styles App -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.css}">

  <!-- Styles Custom -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/overwritten.css}">

  <!-- Vue.js Development -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/fba5ae40d6.js"></script>
  <style>
    .app-sidebar {
      background-color: #004ecb !important;
    }

    .main-panel {
      margin-top: 60px;
    }
  </style>
</head>

<body data-col="2-columns" class=" 2-columns ">
  <div class="wrapper">
    <div th:replace="components/sidebar.html :: sidebar"> </div>
    <nav th:replace="components/navbar.html :: navbar"> </nav>
    <div class="main-panel">
      <div class="main-content">
        <div class="content-wrapper">
          <div class="container">
            <section id="user-profile">
              <div class="row">
                <div class="col-12">
                  <div class="card profile-with-cover">
                    <div class="card-img-top img-fluid bg-cover height-75 mx-2"></div>
                    <div class="media profil-cover-details row">
                      <div class="col-sm-4 col-md-4">
                        <div class="align-self-center halfway-fab text-center">
                          <a class="profile-image">
                            <img th:if="${authorizedUser.avatar == null}"
                              src="assets/img/portrait/avatars/avatar-01.png"
                              class="rounded-circle img-border gradient-summer width-100 mx-2"
                              th:alt="${authorizedUser.firstName + ' ' + authorizedUser.lastName}">
                            <img th:if="${authorizedUser.avatar != null}" th:src="${authorizedUser.avatar}"
                              class="rounded-circle img-border gradient-summer width-100 mx-2"
                              th:alt="${authorizedUser.firstName + ' ' + authorizedUser.lastName}">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="profile-section">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 text-center">
                          <span th:text="${authorizedUser.firstName + ' ' + authorizedUser.lastName}"
                            class="font-medium-2 text-uppercase">
                          </span>
                          <p th:text="${authorizedUser.email}" class="grey font-small-2"> </p>
                        </div>
                        <div class="d-none d-md-block col-md-8 col-lg-8">
                          <ul class="profile-menu no-list-style">
                            <li>
                              <a href="#about" class="primary font-medium-2 font-weight-600"><ins>Perfil</ins></a>
                            </li>
                            <li>
                              <a href="#user" class="primary font-medium-2 font-weight-600">Preferências</a>
                            </li>
                            <li>
                              <a th:href="@{/profile/security}"
                                class="primary font-medium-2 font-weight-600">Segurança</a>
                            </li>
                            <li>
                              <a href="#photos" class="primary font-medium-2 font-weight-600">Faturas</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>



            <section id="basic-form-layouts">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title mb-4">Informações Básicas</h4>
                    </div>
                    <div class="card-content">
                      <div class="px-3">
                        <form class="form">
                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="name-input">Nome</label>
                                  <input th:value="${authorizedUser.firstName}" id="name-input" class="form-control"
                                    name="first_name" type="text" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="last-name-input">Sobrenome</label>
                                  <input th:value="${authorizedUser.lastName}" id="last-name-input" class="form-control"
                                    name="last_name" type="text" />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="email-input">E-mail</label>
                                  <input th:value="${authorizedUser.email}" id="email-input" class="form-control"
                                    name="email" type="email" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="phone-input">Celular</label>
                                  <input id="phone-input" class="form-control" name="phone" type="text" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-actions right">
                            <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                              Cancelar
                            </button>
                            <button type="button" class="btn btn-raised btn-raised btn-primary">
                              Salvar
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div th:if="${authorizedUser.organizations}" class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title mb-4">Empresas</h4>
                    </div>
                    <div class="card-content">
                      <div class="card-body">

                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Razão Social</th>
                              <th>CPF/CNPJ</th>
                            </tr>
                          </thead>
                          <th:block th:each="organization : ${authorizedUser.organizations}">
                            <tr role="row">
                              <td class="text-uppercase" th:text="${organization.name}"></td>
                              <td class="text-uppercase" th:text="${organization.cnpj}"></td>
                            </tr>
                          </th:block>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>

      <footer th:replace="components/footer.html :: footer"> </footer>
    </div>
  </div>


</body>

</html>