<!DOCTYPE html>
<html lang="en" class="loading" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Ottimizza - Gerenciamento de Conta.">
  <meta name="keywords" content="ottimizza,ottimizza gerenciamento de conta,gerenciamento de conta,ottimizza conta,">
  <meta name="author" content="Ottimizza">
  <title>Empresas - Ottimizza Gerenciamento de Conta</title>
  <link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/img/ico/apple-icon-60.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/ico/apple-icon-76.png}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/img/ico/apple-icon-120.png}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/img/ico/apple-icon-152.png}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/ico/favicon.ico}">
  <link rel="shortcut icon" type="image/png" th:href="@{/assets/img/ico/favicon-32.png}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900"
    rel="stylesheet">

  <!-- Styles Vendors -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/css/perfect-scrollbar.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/css/prism.min.css}">

  <!-- Styles App -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.css}">

  <!-- Styles Custom -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/overwritten.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/users/user.css}">

</head>

<body data-col="2-columns" class="bg-white 2-columns ">
  <div class="wrapper">
    <div th:replace="components/sidebar.html :: sidebar"> </div>
    <nav th:replace="components/navbar.html :: navbar"> </nav>
    <div id="app" class="main-panel">
      <div class="main-content">
        <breadcrumb v-bind:items="breadcrumb"></breadcrumb>
        <div class="full-width-nav-tabs content-wrapper pt-2">
          <div class="container">
            <ul class="nav nav-justified-not nav-tabs">
              <li class="nav-item">
                <a class="nav-link p-2 active" id="homeIcon-tab" data-toggle="tab" href="#homeIcon"
                  aria-controls="homeIcon" aria-expanded="true">
                  <i class="fad fa-cog"></i>&nbsp;&nbsp;Básico
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2" id="profileIcon-tab" data-toggle="tab" href="#profileIcon"
                  aria-controls="profileIcon" aria-expanded="false">
                  <i class="fad fa-user-shield"></i>&nbsp;&nbsp;Segurança
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
            <section id="horizontal-layout" class="d-">
              <div class="row">
                <div class="col-12">
                  <form class="form form-horizontal ">
                    <div class="form-body">
                      <div class="form-group row pt-4 pb-2">
                        <div class="col-md-3">
                          <h5 class="m-0"><i class="ft-user"></i> Avatar</h5>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                          <a id="user-info-dropdown" href="#" data-toggle="dropdown"
                            class="nav-link position-relative p-0">
                            <img v-cloak v-if="user.avatar == null" th:src="@{/assets/img/portrait/avatars/avatar.png}"
                              class="img-thumbnail rounded-circle" width="150"
                              th:alt="${authorizedUser.firstName + ' ' + authorizedUser.lastName}">
                            <img v-cloak v-if="user.avatar != null" :src="user.avatar"
                              class="img-thumbnail rounded-circle" width="150"
                              :alt="user.firstName + ' ' + user.lastName">
                          </a>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-3">
                          <h5 class="m-0"><i class="ft-user"></i> Informações Básicas</h5>
                        </div>
                        <label for="field-user-firstname" class="col-md-3 label-control">Nome: </label>
                        <div class="input-group col-md-6">
                          <input id="field-user-firstname" :readonly="editingField != 'firstname'"
                            v-model="user.firstName" class="form-control" type="text">
                          <div v-if="editingField === 'firstname'" class="input-group-append">
                            <button v-on:click="patchUser(user.id, {'firstName': user.firstName})" class="btn"
                              style="border: solid 1px #9E9E9E;" type="button">
                              <i class="fa fa-save text-success"></i></span>
                            </button>
                            <button v-on:click="editing(null)" class="btn" style="border: solid 1px #9E9E9E;"
                              type="button">
                              <i class="fa fa-times text-danger"></i>
                            </button>
                          </div>
                          <div v-if="editingField !== 'firstname'" v-on:click="editing('firstname')"
                            class="input-group-append">
                            <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                              <i class="fas fa-pencil"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-3"></div>
                        <label for="field-user-lastname" class="col-md-3 label-control">Sobrenome: </label>
                        <div class="input-group col-md-6">
                          <input id="field-user-lastname" v-model="user.lastName" :readonly="editingField != 'lastname'"
                            class="form-control" type="text">
                          <div v-if="editingField === 'lastname'" class="input-group-append">
                            <button v-on:click="patchUser(user.id, {'lastName': user.lastName})" class="btn"
                              style="border: solid 1px #9E9E9E;" type="button">
                              <i class="fa fa-save text-success"></i></span>
                            </button>
                            <button v-on:click="editing(null)" class="btn" style="border: solid 1px #9E9E9E;"
                              type="button">
                              <i class="fa fa-times text-danger"></i>
                            </button>
                          </div>
                          <div v-if="editingField !== 'lastname'" v-on:click="editing('lastname')"
                            class="input-group-append">
                            <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                              <i class="fas fa-pencil"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-3"></div>
                        <label for="field-user-lastname" class="col-md-3 label-control">E-mail: </label>
                        <div class="input-group col-md-6">
                          <input id="field-user-email" v-model="user.email" readonly class="form-control" type="text">
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <footer th:replace="components/footer.html :: footer"> </footer>
    </div>
  </div>
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Crop the image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="img-container">
            <img id="image" src="blob:https://fengyuanchen.github.io/51d58ab0-571b-4bee-ab80-0d2bfb0c8099" class="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="crop">Crop</button>
        </div>
      </div>
    </div>
  </div>
  <div th:insert="profile/head.html :: foot"> </div>

  <!-- Vue.js Development -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script src="/assets/vendors/js/prism.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/prism.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
  <script src="/assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
  <script src="/assets/js/app-sidebar.js" type="text/javascript"></script>
  <script src="/assets/js/notification-sidebar.js" type="text/javascript"></script>
  <script src="/assets/js/customizer.js" type="text/javascript"></script>

  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/fba5ae40d6.js"></script>
  <script th:src="@{/js/views/users/user.js}" type="module"></script>

</body>

</html>