<!DOCTYPE html>
<html lang="en" class="loading" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Ottimizza - Gerenciamento de Conta.">
  <meta name="keywords" content="ottimizza,ottimizza gerenciamento de conta,gerenciamento de conta,ottimizza conta,">
  <meta name="author" content="Ottimizza">
  <title>Empresas - Ottimizza Gerenciamento de Conta</title>
  <link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/img/ico/apple-icon-60.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/ico/apple-icon-76.png}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/img/ico/apple-icon-120.png}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/img/ico/apple-icon-152.png}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/ico/favicon.ico}">
  <link rel="shortcut icon" type="image/png" th:href="@{/assets/img/ico/favicon-32.png}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900"
    rel="stylesheet">

  <!-- Styles Vendors -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/css/perfect-scrollbar.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/css/prism.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/cropperjs/cropper.css}">
  <script th:src="@{/assets/vendors/cropperjs/cropper.js}"></script>

  <!-- Styles App -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.css}">

  <!-- Styles Custom -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/overwritten.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/users/user.css}">

</head>

<body data-col="2-columns" class="bg-white 2-columns ">
  <div class="wrapper">
    <div th:replace="components/sidebar.html :: sidebar"> </div>
    <nav th:replace="components/navbar.html :: navbar"> </nav>
    <div id="app" class="main-panel">
      <div class="main-content">
        <breadcrumb v-bind:items="breadcrumb"></breadcrumb>
        <div class="full-width-nav-tabs content-wrapper pt-2">
          <div class="container">
            <ul class="nav nav-tabs nav-justified-not" id="nav-tab" role="tablist">
              <li class="nav-item ">
                <a id="basic-tab" class="p-2 nav-link active" data-toggle="tab" role="tab" href="#basic"
                  aria-controls="basic" aria-selected="true">
                  <i class="fad fa-cog"></i>&nbsp;&nbsp;Básico
                </a>
              </li>
              <li class="nav-item" th:if="${authorizedUser.getId()} == ${id}">
                <a id="security-tab" class="p-2 nav-link" data-toggle="tab" role="tab" href="#security"
                  aria-controls="security" aria-selected="false">
                  <i class="fad fa-user-shield"></i>&nbsp;&nbsp;Segurança
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
            <section id="horizontal-layout">
              <div class="tab-content">
                <div id="basic" class="tab-pane active" role="tabpanel" aria-labelledby="basic-tab">
                  <div class="row">
                    <div class="col-12">
                      <form class="form form-horizontal ">
                        <div class="form-body">
                          <div class="form-group row pt-4 pb-2">
                            <div class="col-md-3">
                              <h5 class="m-0"><i class="ft-user"></i> Avatar</h5>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                              <div class="container">
                                <div class="row">
                                  <div class="col-12">
                                    <a class="position-relative p-0">
                                      <img v-cloak v-if="user.avatar == null"
                                        th:src="@{/assets/img/portrait/avatars/avatar.png}"
                                        class="img-thumbnail rounded-circle" width="150"
                                        :alt="user.firstName + ' ' + user.lastName">
                                      <img v-cloak v-if="user.avatar != null" :src="user.avatar"
                                        class="img-thumbnail rounded-circle" width="150"
                                        :alt="user.firstName + ' ' + user.lastName">
                                    </a>
                                  </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                  <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal-image-cropper">
                                    <i class="fad fa-pencil-alt"></i><span>&nbsp;&nbsp;Editar</span>
                                  </button>
                                  <button type="button" class="btn btn-link">
                                    <i class="fas fa-times"></i><span>&nbsp;&nbsp;Remover</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-3">
                              <h5 class="m-0"><i class="ft-user"></i> Informações Básicas</h5>
                            </div>
                            <label for="field-user-firstname" class="col-md-3 label-control">Nome: </label>
                            <div class="input-group col-md-6">
                              <input id="field-user-firstname" :readonly="editingField != 'firstname'"
                                v-model="user.firstName" class="form-control" type="text">
                              <div th:if="${authorizedUser.getId()} == ${id}" v-if="editingField === 'firstname'"
                                class=" input-group-append">
                                <button v-on:click="patch(user.id, {'firstName': user.firstName})" class="btn"
                                  style="border: solid 1px #9E9E9E;" type="button">
                                  <i class="fa fa-save text-success"></i></span>
                                </button>
                                <button v-on:click="editing(null)" class="btn" style="border: solid 1px #9E9E9E;"
                                  type="button">
                                  <i class="fa fa-times text-danger"></i>
                                </button>
                              </div>
                              <div th:if="${authorizedUser.getId()} == ${id}" v-if="editingField !== 'firstname'"
                                v-on:click="editing('firstname')" class="input-group-append">
                                <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                                  <i class="fas fa-pencil"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-3"></div>
                            <label for="field-user-lastname" class="col-md-3 label-control">Sobrenome: </label>
                            <div class="input-group col-md-6">
                              <input id="field-user-lastname" v-model="user.lastName"
                                :readonly="editingField != 'lastname'" class="form-control" type="text">
                              <div th:if="${authorizedUser.getId()} == ${id}" v-if="editingField === 'lastname'"
                                class="input-group-append">
                                <button v-on:click="patch(user.id, {'lastName': user.lastName})" class="btn"
                                  style="border: solid 1px #9E9E9E;" type="button">
                                  <i class="fa fa-save text-success"></i></span>
                                </button>
                                <button v-on:click="editing(null)" class="btn" style="border: solid 1px #9E9E9E;"
                                  type="button">
                                  <i class="fa fa-times text-danger"></i>
                                </button>
                              </div>
                              <div th:if="${authorizedUser.getId()} == ${id}" v-if="editingField !== 'lastname'"
                                v-on:click="editing('lastname')" class="input-group-append">
                                <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                                  <i class="fas fa-pencil"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <!-- <div class="container">
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-3"></div>
                              <v-input :id="'phone'" :label="'Celular:'" v-model="user.phone" class="col-md-6"
                                :readonly="editingField != 'phone'" @input="user.phone = $event">
                                <div v-if="editingField === 'phone'" slot="appends" class="input-group-append">
                                  <v-button @click.native="patch(user.id, {'phone': user.phone})">
                                    <i class="fas fa-pencil"></i>
                                  </v-button>
                                  <v-button @click.native="editing(null)">
                                    <i class="fa fa-times text-danger"></i>
                                  </v-button>
                                </div>
                                <div v-if="editingField !== 'phone'" slot="appends" class="input-group-append">
                                  <v-button @click.native="editing('phone')">
                                    <i class="fas fa-pencil"></i>
                                  </v-button>
                                </div>
                              </v-input>
                            </div>
                          </div> -->


                          <div class="form-group row">
                            <div class="col-md-3"></div>
                            <label for="field-user-phone" class="col-md-3 label-control">Celular: </label>
                            <div class="input-group col-md-6">
                              <input id="field-user-phone" v-model="user.phone" :readonly="editingField != 'phone'"
                                class="form-control" placeholder="(99) 99999-9999" type="text">
                              <div th:if="${authorizedUser.getId()} == ${id}" v-if="editingField === 'phone'"
                                class="input-group-append">
                                <button v-on:click="patch(user.id, {'phone': user.phone})">
                                  <i class="fa fa-save text-success"></i></span>
                                </button>
                                <button v-on:click="editing(null)">
                                  <i class="fa fa-times text-danger"></i>
                                </button>
                              </div>
                              <div th:if="${authorizedUser.getId()} == ${id}" v-if="editingField !== 'phone'"
                                v-on:click="editing('phone')" class="input-group-append">
                                <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                                  <i class="fas fa-pencil"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-3"></div>
                            <label for="field-user-lastname" class="col-md-3 label-control">E-mail: </label>
                            <div class="input-group col-md-6">
                              <input id="field-user-email" v-model="user.email" readonly class="form-control"
                                type="text">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div id="security" class="tab-pane" role="tabpanel" aria-labelledby="security-tab">
                  <div class="row">
                    <div class="col-12">
                      <form class="form form-horizontal">
                        <div class="form-body">
                          <div class="form-group row pt-4 pb-2">
                            <div class="col-md-3">
                              <h5 class="m-0"><i class="ft-user"></i> Alterar Senha</h5>
                            </div>
                            <label for="field-password" class="col-md-3 label-control">Senha Atual: </label>
                            <div class="input-group col-md-6">
                              <input id="field-password" v-model="pwd.password" class="form-control"
                                :type="pwd.inputType" placeholder="********">
                              <div v-on:click="pwd.inputType = (pwd.inputType === 'password' ? 'text' : 'password')"
                                class="input-group-append">
                                <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                                  <i v-if="pwd.inputType === 'password'" class="fas fa-eye"></i>
                                  <i v-if="pwd.inputType === 'text'" class="fas fa-eye-slash"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-3"></div>
                            <label for="field-password" class="col-md-3 label-control">Nova Senha: </label>
                            <div class="input-group col-md-6">
                              <input id="field-password" v-model="pwd.newPassword" class="form-control"
                                :type="pwd.inputType" placeholder="********" autocomplete="new-password">
                              <div v-on:click="pwd.inputType = (pwd.inputType === 'password' ? 'text' : 'password')"
                                class="input-group-append">
                                <button class="btn" style="border: solid 1px #9E9E9E;" type="button">
                                  <i v-if="pwd.inputType === 'password'" class="fas fa-eye"></i>
                                  <i v-if="pwd.inputType === 'text'" class="fas fa-eye-slash"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div v-if="pwd.password && pwd.newPassword" class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                              <button type="button" @click="updatePassword" class="btn btn-primary w-100">
                                Salvar
                              </button>
                            </div>

                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <footer th:replace="components/footer.html :: footer"> </footer>
    </div>
  </div>

  <div id="aside">
    <bootstrap-modal @cropped="onImageCropped" v-bind:callback="onImageCropped"
      v-bind:onUploadCallback="onImageUploaded">
    </bootstrap-modal>
  </div>

  <cropper-modal v-if="showCropperModal"></cropper-modal>




  <!-- <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Crop the image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="img-container">
            <img id="image" src="blob:https://fengyuanchen.github.io/51d58ab0-571b-4bee-ab80-0d2bfb0c8099" class="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="crop">Crop</button>
        </div>
      </div>
    </div>
  </div> -->
  <div th:insert="profile/head.html :: foot"> </div>

  <!-- Vue.js Development -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/fba5ae40d6.js"></script>
  <script th:src="@{/js/views/users/user.js}" type="module"></script>

</body>

</html>