<!DOCTYPE html>
<html lang="en" class="loading" xmlns:th="https://www.thymeleaf.org">

<head th:insert="profile/head.html :: head"> </head>

<body data-col="2-columns" class=" 2-columns ">
  <div class="wrapper">
    <div th:replace="components/sidebar.html :: sidebar"> </div>
    <nav th:replace="components/navbar.html :: navbar"> </nav>
    <div id="app" class="main-panel">
      <div class="main-content">
        <div class="content-wrapper">
          <div class="container">
            <breadcrumb v-bind:items="breadcrumb" class="pt-2"></breadcrumb>
            <section id="informacoes-basicas">
              <div class="row">
                <div class="col-md-12">
                  <div id="organization-basic-info-card" class="card border">
                    <div class="card-header">
                      <h4 class="card-title">Informações Básicas</h4>
                    </div>
                    <div class="card-content">
                      <div class="card-body">
                        <div v-bind:class="{ 'd-none': !alert.visible }" class="row">
                          <div class="col-12">
                            <div v-cloak v-bind:class="{ 
                                  'bg-warning': alert.type == 'warning', 'bg-success': alert.type == 'success'
                              }" class="alert alert-icon-left alert-dismissible mb-3 px-3" role="alert">
                              {{ alert.message }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name-input">Nome</label>
                              <input v-model="organization.name" id="name-input" class="form-control" name="first_name"
                                type="text" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="last-name-input">CNPJ</label>
                              <input v-model="organization.cnpj" id="last-name-input" class="form-control"
                                name="last_name" type="text" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="email-input">Código no Sistema Contábil</label>
                              <input v-model="organization.codigoERP" id="email-input" class="form-control" name="email"
                                type="email" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="offset-sm-2 offset-md-10 col-sm-1 col-md-2">
                          <button class="btn btn-raised btn-raised btn-primary w-100 m-0"
                            v-on:click="updateOrganization(externalId, organization)">
                            <i class="fad fa-save"></i> <span class="ml-2"> Salvar </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <footer th:replace="components/footer.html :: footer"> </footer>
    </div>
  </div>

  <div th:insert="profile/head.html :: foot"> </div>

  <!-- Vue.js Development -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/fba5ae40d6.js"></script>

  <script th:src="@{/js/views/organization-details.js}" type="module"></script>

</body>

</html>