* {
  outline: none;
  /* font-family: "IBM Plex Sans", sans-serif; */
}

*:focus {
  outline: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #004ecb !important;
}

#forgot-password {
  background-image: none !important;
}
#lock-screen {
  background-image: none !important;
}