<!DOCTYPE html>
<html lang="en" class="loading" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Ottimizza Conta do Usuario.">
  <meta name="keywords" content="Ottimizza, Ottimizza conta, Ottimizza entrar, Ottimizza login">
  <meta name="author" content="Ottimizza">

  <title>Ottimizza - Entrar</title>

  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/ico/apple-icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/ico/apple-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/ico/apple-icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/ico/apple-icon-152.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/ico/favicon.ico">
  <link rel="shortcut icon" type="image/png" href="assets/img/ico/favicon-32.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/fonts/feather/style.min.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/simple-line-icons/style.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body data-col="1-column" class=" 1-column  blank-page">
  <div th:fragment="content" class="wrapper">
    <div class="main-panel">
      <div class="main-content">
        <div class="content-wrapper">
          <section id="login">
            <div class="container-fluid">
              <div class="row full-height-vh m-0">
                <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                  <div class="d-block d-sm-block d-md-none text-center mb-2">
                    <img width="200px" th:src="${logo}" alt="">
                  </div>
                  <div class="d-none d-md-block d-lg-none text-center mb-3">
                    <img width="200px" th:src="${logo}" alt="">
                  </div>
                  <div class="d-none d-lg-block text-center mb-4">
                    <img width="200px" th:src="${logo}" alt="">
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body login-img">
                        <div class="row m-0">
                          <form s="f" th:action="@{/login}" method="post"
                            class="col-lg-12 col-md-12 bg-white px-4 pt-4 pb-5">
                            <h4 class="mb-2 card-title">Entrar</h4>
                            <p class="card-text mb-3">
                              Bem vindo de volta, informe seu email e senha para acessar o sistema.
                            </p>
                            <div th:if="${param.error != null}" role="alert"
                              class="alert bg-warning alert-icon-left alert-dismissible mb-3 px-3">
                              <strong>Oops!</strong> <span>Email e/ou senha incorretos.</span>
                            </div>
                            <input type="text" id="username" name="username" class="form-control mb-3"
                              placeholder="Email" required />
                            <div class="position-relative has-icon-right">
                              <input id="password" type="password" name="password" class="form-control mb-1"
                                placeholder="Senha" required />
                              <div id="passwordFieldToggle" class="form-control-position"
                                onclick="passwordFieldTypeToggle()">
                                <i class="ft-eye dark"></i>
                              </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                              <div class="remember-me">
                                <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                  <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1"
                                    class="custom-control-input" />
                                  <label class="custom-control-label d-none" for="customCheckboxInline1">
                                    Remember Me
                                  </label>
                                </div>
                              </div>
                              <div class="forgot-password-option">
                                <a href="password_recovery" class="text-decoration-none text-primary">
                                  Esqueceu sua Senha?
                                </a>
                              </div>
                            </div>
                            <div class="fg-actions d-flex justify-content-between">
                              <div class="login-btn">
                                <button type="button" class="btn btn-outline-primary p-0">
                                  <a href="register" class="btn text-decoration-none">
                                    <span>Criar Conta</span>
                                  </a>
                                </button>
                              </div>
                              <div class="recover-pass">
                                <button type="submit" class="btn btn-primary">
                                  <span class="text-decoration-none text-white">Entrar</span>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const passwordField = document.getElementById('password');
    function passwordFieldTypeToggle(e) {
      const passwordFieldToggle = document.querySelector('#passwordFieldToggle');
      const passwordFieldToggleIcon = document.querySelector('#passwordFieldToggle i');

      // For IE9
      let classes = passwordFieldToggleIcon.className.split(" ");
      let iEyeOff = classes.indexOf("ft-eye-off");

      console.log(classes);

      toggleInputType(passwordField, 'password', 'text');
      if (iEyeOff >= 0) {
        classes.splice(iEyeOff, 1);
        classes.push("ft-eye");
      } else {
        classes.push("ft-eye-off");
        classes.splice(classes.indexOf("ft-eye"), 1);
      }
      passwordFieldToggleIcon.className = classes.join(" ");
    }

    function toggleInputType(el, t1, t2) {
      el.type = (el.type === t2) ? t1 : t2;
    }

    function toggleCssClasses(el, c1, c2) {
      if (containsCssClass(el, c1)) {
        appendCssClass(el, c2);
        removeCssClass(el, c1);
      } else {
        appendCssClass(el, c1);
        removeCssClass(el, c2);
      }
    }
    function containsCssClass(el, c) {
      return el.className.split(" ").indexOf(c) >= 0;
    }
    function removeCssClass(el, c) {
      let classes = el.className.split(" ");
      el.className = classes.splice(classes.indexOf(c), 1).join(" ");
    }
    function appendCssClass(el, c) {
      el.className = el.className.split(" ").append(c).join(" ");
    }
  </script>
</body>

</html>